# Variables d'environnement pour le développement local
# Copiez ce fichier en .env.local et modifiez les valeurs
# NE PAS COMMITER ce fichier !

NG_APP_API_URL=https://chuck.filhype.ovh
NG_APP_AUTH_URL=https://votre-tenant.auth0.com
NG_APP_CLIENT_ID=front
